.FirstRawContainer{
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(75, 182, 182);
}
.FirstRawContainer > div{
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.firstRawTitle{
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 25px;
    padding-left: 30px;
}
.firstRawStart p{
 font-size: 20px;
 font-weight: 900;
}
.firstRawButton{
    width: 30%;
    height: 80%;
    border: 1px solid black;
    margin-right: 8px;
    margin-left: 8px;
    border-radius: 20px;
    background-color: rgb(120, 196, 136);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: 900;
    cursor: pointer;
    color: rgb(150, 60, 60);
}
.firstRawType div{
height: 100px;
width: 50%;
display: flex;
align-items: center;
justify-content: center;
font-size: 16px;
flex-direction: column;
}
.correct{
    font-weight: 900;
    color: white
}
.wrong{
    font-weight: 900;
    color: rgb(60, 62, 178);
}
.startTrue{
    width: 30%;
    height: 80%;
    border: 1px solid black;
    margin-right: 8px;
    margin-left: 8px;
    border-radius: 20px;
    background-color: rgb(220, 119, 43);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: 900;
    cursor: pointer;
    color: rgb(150, 60, 60);
}
.lookTime{
    background-color: brown;
    border-radius: 5px;
    margin-right: 10px;
    color: white;
    cursor: pointer;
}