.forthRawContainer{
    width: 100%;
    height: 500px;
    border: 1px solid black;
    overflow: scroll;
    background-color: rgb(183, 192, 198);
}
.innerOverflow{
    width: 2000px;
    padding-left: 10px;
  position: relative;
  margin-bottom: 10px;
}
.TheAnswer{
position: absolute;
left: 10px;
top: 13px;
color: red;
}
.TheQuestion{
  color: rgb(183, 192, 198);
}
.TheQuestionWrong{
  color: blue;
}
.TheAnswerWrong{
position: absolute;
left: 10px;
top: 13px;
color: green;
}