.forthRawContainer{
    width: 100%;
    height: 380px;
    border: 1px solid black;
    overflow: scroll;
    background-color: rgb(183, 192, 198);
}
.innerOverflow{
    width: 2000px;
    padding-left: 10px;
  position: relative;
  margin-bottom: 10px;
}
.TheAnswer{
position: absolute;
left: 60px;
top: 13px;
color: red;
text-decoration: none;
}
.TheQuestion{
  color: rgb(183, 192, 198);
}
.TheQuestionWrong{
  color: blue;
}
.TheAnswerWrong{
position: absolute;
left: 60px;
top: 13px;
color: green;
text-decoration: none;
}
.hiddenAnswer{
  color: rgb(183, 192, 198);
}
.rightButton{
  height: 50px;
  display: flex;
}
.TheButton{
  width: 50px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ChangeButton{
  height: 40%;
  width: 100%;
  color: white;
  background-color: green;
  cursor: pointer;
  font-size: 20px;
}